<form class="row justify-content-md-center" [formGroup]="rfCompany" (ngSubmit)="onSubmit()">
  <div class="col-md-8">
    <div class="form-group">
      <label for="company-no-input" class="col-2 col-form-label">
        No:
      </label>
      <div class="col-10">
        <input class="form-control" type="text"
               id="company-no-input" formControlName="no">
      </div>
    </div>
    <div class="form-group">
      <label for="company-name-input" class="col-2 col-form-label">
        Name:
      </label>
      <div class="col-10">
        <input class="form-control" type="text"
               id="company-name-input" formControlName="name">
      </div>
    </div>
    <div class="form-group">
      <label for="company-established-input" class="col-2 col-form-label">
        Established:
      </label>
      <div class="col-10">
        <input class="form-control" type="date"
               id="company-established-input" formControlName="established">
      </div>
    </div>

    <div class="form-group">
      <label for="company-email-input" class="col-2 col-form-label">
        Email:
      </label>
      <div class="col-10">
        <input class="form-control" type="email"
               id="company-email-input" formControlName="email">
      </div>
    </div>
    <div class="form-group">
      <label for="company-website-input" class="col-2 col-form-label">
        Website:
      </label>
      <div class="col-10">
        <input class="form-control" type="text"
               id="company-website-input" formControlName="website">
      </div>
    </div>
    <div class="form-group">
      <label for="company-address-input" class="col-2 col-form-label">
        Address:
      </label>
      <div class="col-10">
        <input class="form-control" type="text"
               id="company-address-input" formControlName="address">
      </div>
    </div>
    <div class="form-group">
      <label for="company-companyPhoneNumbers-input" class="col-2 col-form-label">Tel:</label>
      <div class="d-flex">
        <div class="col-10">
          <div formArrayName="companyPhoneNumbers">
            <div class="form-group" *ngFor="let c of companyPhoneNumbers.controls; index as i">
              <input class="form-control" type="tel"
                     id="company-companyPhoneNumbers-input"
                     [formControlName]="i">
              <div class="text-right">
                <button class="btn btn-danger" (click)="removeTel(i)" *ngIf="companyPhoneNumbers.controls.length > 1">-</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-info" (click)="addTel()">+</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit"
              class="btn btn-outline-primary company-form__btn">{{ buttonOperation }}</button>
    </div>
  </div>
</form>
